<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.instagram_spring_boot.Mapper.CommentMapper">

  <insert id="insertComment" parameterType="hashmap">
  INSERT INTO comment
  VALUES (null, #{postId}, #{userUUID}, #{contents}, DEFAULT)
  </insert>
  <select id="getComments" parameterType="String" resultType="hashmap">
  select ut.username, ct.content, ct.created_at
  from comment ct, person ut
  where ut.user_idx = ct.user_idx and
  post_uuid = #{postId}
  order by comment_idx asc;
  </select>

  <select id="getCount" parameterType="String" resultType="int">
  select count(*) as total
  from comment
  where post_uuid = #{postId}
  </select>
</mapper>