<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.instagram_spring_boot.Mapper.LikeMapper">

  <insert id="insertLike" parameterType="hashmap">
    INSERT INTO post_like
    VALUES (#{postId}, #{userIdx}, DEFAULT);

    <!-- update post set post_like_count = post.post_like_count + 1 where post_uuid = #{postId}; -->
  </insert>



  <select id="getLikeTotal" parameterType="String" resultType="int">
    SELECT count(lt.user_idx) AS total
    FROM post_like lt
    WHERE lt.post_uuid = #{postId}
  </select>
  
 <select id="getLikeCheck" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM post_like
    WHERE user_idx = #{userIdx}
    AND post_uuid = #{postId}
  </select>

  <delete id="deleteLike" parameterType="String">
    <!-- update post set post_like_count = post.post_like_count - 1 where post_uuid = #{postId}; -->
    
    DELETE FROM post_like WHERE post_uuid= #{postId} AND user_idx = #{userIdx}

  </delete>
</mapper>
