<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.instagram_spring_boot.Mapper.UserMapper">
<!-- 중복체크 -->
  <select id="getCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM USER_TABLE
        WHERE ${type} = #{val}
  </select>
<!-- 회원가입 -->
  <insert id="insertUser" parameterType="hashmap">
  INSERT INTO USER_TABLE
  VALUES (#{userUUID}, #{userPhone}, #{userEmail}, #{userId}, #{userName}, #{userPassword}, null, null, null, DEFAULT, DEFAULT)
  </insert>
<!-- 로그인 -->
  <select id="getUser" parameterType="hashmap" resultType="hashmap" >
  SELECT * FROM USER_TABLE WHERE ${type} = #{val}
  </select>
<!-- 조회 -->
  <select id="getUserInfo" parameterType="String" resultType="hashmap" >
  SELECT ut.USER_UUID, ut.USER_ID, ut.USER_NAME,count(pt.user_uuid)as total  
  FROM USER_TABLE ut, post_table pt 
  WHERE ut.USER_ID = #{userId} and ut.user_uuid = pt.user_uuid
  </select>

  <select id="getUserCheck" parameterType="String" resultType="int">
  select count(*) as total from user_table where user_id = #{userId} and user_uuid = #{userUUID}
  </select>
</mapper>