<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.instagram_spring_boot.Mapper.UserMapper">
<!-- 중복체크 -->
  <select id="getCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM person
        WHERE ${type} = #{val}
  </select>
<!-- 회원가입 -->
  <insert id="insertUser" parameterType="hashmap">
  INSERT INTO person
  VALUES (null, #{userEmail}, #{userPhone}, #{userId}, #{userName}, #{userPassword}, null, null, DEFAULT, DEFAULT)
  </insert>
<!-- 로그인 -->
  <select id="getUser" parameterType="hashmap" resultType="hashmap" >
  SELECT * FROM person WHERE ${type} = #{val}
  </select>
<!-- 조회 -->
  <select id="getUserInfo" parameterType="String" resultType="hashmap" >
  SELECT ut.user_idx, ut.username, ut.name,count(pt.user_idx)as total  
  FROM person ut, post pt 
  WHERE ut.username = #{username} and ut.user_idx = pt.user_idx
  </select>

  <select id="getUserCheck" parameterType="String" resultType="int">
  select count(*) as total from person where username = #{userId}
  </select>
</mapper>